RPC_URL=http://api.mainnet-beta.solana.com
WS_URL=ws://api.mainnet-beta.solana.com
ADDRESS=0.0.0.0:7000
IDENTITY_KEYPAIR_FILE=<PATH TO VALIDATOR IDENTITY KEYPAIR>
NUM_CONNECTIONS=32
SENDER_CHANNEL_SIZE=256
WORKER_CHANNEL_SIZE=512
MAX_RECONNECT_ATTEMPTS=5
LEADERS_FANOUT=2
ADMIN_BIND_PORT=1504 # if you are running more than one iris on the same system change this
OTPL_ENDPOINT=
SHIELD_POLICY_KEY=4QXuzwHutRGjMHRfpGgZpaC9LEYR2wqVmLJBbPbK1zQo
PROMETHEUS_ADDR=0.0.0.0:10025
QUIC_BIND_ADDRESS=0.0.0.0:7001
IS_COLOCATED=true
TPU_CLIENT_RT__NUM_THREADS=8
QUIC_RT__NUM_THREADS=8
RPC_RT__NUM_THREADS=1
#QUIC_RT__CPUS=[1,2,11,12,7,8,9,10]
#TPU_CLIENT_RT__CPUS=[3,4,5,6,11,12,13,14]
#RPC_RT__CPUS=[0]
